<h1 style="text-align:  center ;">Products</h1>
<br/><br/><br/>
<div class="masonry-container">
  
  <div class="col-sm-6 col-md-3">
    
    <% @products.each do |product| %>
    
    <div class="thumbnail" >
      
     <div class="image_home"><%= image_tag "products/" + product.get_image %></div>
     
      <div class="caption">
       
        <h3><%= link_to product.name, product %></h3>
       
        <h3 style="float:right;"> 
        <%= form_tag('/cart', method: "post") do %>
            
                    
            <%= hidden_field_tag(:productid, product.id) %>
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                <i class="icon-shopping-cart icon-white"></i>
            <% end %>
            <div class="number_cart"> <%= number_field_tag(:number, 0, :size => 3, :min => 0) %></div>    
            <% end %>
        </h3>
        <p><%=  product.info %></p>
        
        <p> Giá: <%=  product.price %> VNĐ</p>
        
        <p> Số lượng còn lại:  <%=  product.quantity %></p>
      </div>
      
    </div>
    
    <% end %>
    
  </div>
  
</div>